<% layout("/layouts/boilerplate") %>

<div class="row mt-4">
  <div class="col-md-6 offset-md-3">
    <div class="alert alert-danger py-3" role="alert">
      <p class="mb-0"><%= err.message %></p>
    </div>
  </div>
</div>
